* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: 'Open sans';
  background: #dfdfdf;
}
#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app #content {
  display: flex;
  width: 800px;
  height: 400px;
}
#app #content .container {
  width: 100%;
}
#app #content button {
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #eee;
  border-radius: 4px;
  padding: 7px;
  margin-left: 30px;
  background-color: #88a;
  float: left;
  transition: 0.2s ease all;
}
#app #content button:hover {
  color: white;
  background-color: #9d9db9;
}
#app #content button:active {
  background-color: #8282a6;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  outline: 0;
}
#app #content button:focus {
  outline: 0;
}
#app #content canvas {
  display: block;
  margin: 0 auto;
}
#app #content h1 {
  animation: size-out 3s infinite linear;
  font-size: 2em;
}
#app #content h2 {
  animation: size-out 2.5s infinite ease-out;
}
#app #content .title {
  color: #883;
  text-align: center;
  animation: opacity-var 1s infinite;
}
#app #content .descriptions {
  display: flex;
  Justify-content: space-between;
  text-transform: uppercase;
}
#app #content .descriptions .title {
  color: #883;
  font-size: 25px;
  width: 45%;
  padding-bottom: 10px;
  animation-name: opacity-var;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#app #content .descriptions .gameover {
  color: #833;
}
#app #content .descriptions .points {
  padding-top: 10px;
  width: 28%;
}
#app #content article {
  margin-top: -30px;
  width: 100%;
  flex-grow: 1;
  padding: 0 15px;
}
#app #content p {
  width: 100%;
  flex-grow: 1;
}
#app #content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#app #content ul li {
  padding: 2px 0;
}
#app #content ul li ul {
  padding-left: 15px;
}
@media (max-width: 450px) {
  #app {
    padding-bottom: 10px;
  }
  #app #content {
    width: 900px;
    justify-content: space-around;
  }
  #app #content h1 {
    font-size: 1.1em;
  }
  #app #content h2 {
    font-size: 1.05em;
  }
  #app #content article {
    display: none;
  }
  #app #content article, #app #content .container {
    transform: scale(0.9);
  }
  #app #content .descriptions .title {
    font-size: 13px;
  }
  #app #content .descriptions .points {
    font-size: 11px;
  }
  body {
    overflow-y: auto;
  }
}
@keyframes opacity-var {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes size-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
}
