@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #666688;
  color: #eee;
  font-family: 'Righteous';
  text-align: center;
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  #app {
    width: 30%;
    .pomodoro-wrapper {
       h1 {
        font-size: 52px;
         margin-bottom: 20px;
      }
      h4 {
        font-size: 19px;
      }
      .pomodoro {
        margin: 10px auto;
        width: 50%;
        border: 7px solid rgba(0,0,0,0.3);
        border-radius: 30px;
        #time-left {
          font-family: digital;
          font-size: 80px;
        }
      }
      .control-timer {
        margin: 0 auto;
        margin-top: 15px;
        display: table;
        button {
          margin-left: 15px;
        }
      }
      .control-session {
        font-size: 25px;
        display: flex;
        justify-content: center;
        .break,.session{ 
          width: 40%;
        }
      }
      
      button {
        font-size: 25px;
        background: transparent;
        border: none;
        i { color: #eee; }  
        cursor: pointer;
      }
      button:active,
      button:focus {
        outline: none;
      }

    }
  }
}

@media screen and (max-width: 500px) {
  #content {
    transform: scale(0.8)
  }
}